@model User

@{
    ViewData["Title"] = "Home Page";
    string name = "Welcome to the Coffee Shop";
}

<div class="text-center">
    <h1 class="display-4">@name</h1>
    <p>Click on <b>Register</b> to be added to our newsletter!</p>
</div>

